@keyframes fadeIn {
	from {
		height: 0;
	}
	to {
		height: var(--sizing-xl);
	}
}

@keyframes fadeOut {
	from {
		height: var(--sizing-xl);
	}
	to {
		height: 0;
	}
}

@keyframes progress {
	from {
		background-position: 100% 0;
	}
	to {
		background-position: 0 0;
	}
}

.toastContainer {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	display: flex;
	flex-direction: column;
}

.toast {
	background-color: var(--color-primary-100);
	background-image: linear-gradient(
		to right,
		var(--color-primary-100) 50%,
		var(--color-primary-200) 50%
	);
	background-size: 200% 100%;
	color: var(--color-primary-700);
	font-family: var(--font-mono);
	font-size: var(--font-size-p);
	padding-inline: var(--spacing-xl);
	display: flex;
	align-items: center;
	gap: var(--spacing-xl);
	animation:
		fadeIn var(--timing-fast) ease forwards,
		progress var(--toast-duration) linear forwards;
	cursor: pointer;
	overflow: hidden;
	transition: color var(--timing-fast) ease;

	&:hover {
		color: var(--color-grey-start);
	}
}

.fadeOut {
	animation: fadeOut var(--timing-medium) ease forwards;
}
