.container {
	position: relative;
}

.dropdown {
	display: flex;
	flex-direction: column;
	gap: var(--spacing-sm);
	padding-top: var(--spacing-sm);
	padding-bottom: 0;

	scale: 0;
	visibility: hidden;
	max-height: 0;

	transition:
		scale var(--timing-medium) ease-in-out,
		max-height var(--timing-medium) ease-in-out,
		visibility var(--timing-medium) ease-in-out,
		padding-bottom var(--timing-fast) ease-in-out;

	&[data-open="true"] {
		scale: 1;
		visibility: visible;
		max-height: calc((var(--spacing-lg) + var(--spacing-sm)) * (var(--locales-length) + 1));
		padding-bottom: var(--spacing-sm);

		transition:
			scale var(--timing-fast) ease-in-out var(--timing-fast),
			max-height var(--timing-medium) ease-in-out,
			visibility var(--timing-medium) ease-in-out,
			padding-bottom var(--timing-fast) ease-in-out;
	}
}

.button {
	display: flex;
	align-items: center;
	justify-content: center;

	width: var(--sizing-lg);
	height: var(--sizing-lg);

	background-color: var(--color-primary);
	border: none;
	cursor: pointer;

	font-size: var(--font-size-tiny);
	font-weight: bold;
	color: var(--color-grey-start);
	text-transform: uppercase;
	font-family: var(--font-sans);

	transition:
		background-color var(--timing-fast) ease-in-out,
		color var(--timing-fast) ease-in-out;

	&:hover,
	&:focus,
	&:focus-visible {
		outline: none;
		background-color: var(--color-primary-200);

		transition:
			background-color var(--timing-medium) ease-in-out,
			color var(--timing-medium) ease-in-out;
	}

	&[data-current="true"] {
		background-color: var(--color-grey-start);
		color: var(--color-primary);

		&:hover,
		&:focus,
		&:focus-visible {
			outline: none;
			color: var(--color-primary-200);
		}
	}

	&:has(+ div[data-open="true"]) {
		background-color: var(--color-grey-start);
		color: var(--color-primary);
	}
}
