.currentButton {
	background-color: var(--contrast-color, var(--color-grey-start));
	color: var(--color-primary);

	&:hover,
	&:focus,
	&:focus-visible {
		outline: none;
		background-color: var(--contrast-color, var(--color-grey-start));
		color: var(--highlight-color, var(--color-primary-200));
	}
}
