.wrapper {
	position: relative;
	min-height: 100vh;
	overflow-x: hidden;
	overflow-y: visible;

	padding-block-start: calc(var(--spacing-xxl) + var(--sizing-xxl));
	padding-block-end: var(--spacing-xxl);
	padding-inline: var(--spacing-xxl);
}

.banner {
	position: fixed;
	inset: 0;
	width: 100vw;
	height: 100vh;

	&::after {
		z-index: 1;
		content: "";
		position: absolute;
		inset: 0;
		background-color: var(--color-grey-end);
		opacity: 0.95;
		pointer-events: none;
	}
}

.container {
	position: relative;
	margin: auto;
	overflow: visible;
}

.content {
	position: relative;
	display: flex;
	gap: var(--spacing-xl);
	padding: var(--spacing-xl) var(--spacing-lg);
	padding-inline-end: var(--spacing-xxl);
	background-color: var(--color-grey-start);
}

.grid {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(
			auto-fill,
			minmax(calc(var(--sizing-xxl) * 2), 1fr)
		);
	gap: var(--spacing-xl);
	margin: 0;

	list-style: none;
}

.actions {
	position: fixed;
	height: min-content;
	width: fit-content;
	z-index: 100;

	--contrast-color: var(--color-grey-end);
	--highlight-color: var(--color-primary-700);
}
