.wrapper {
	position: relative;
	display: flex;
	justify-content: center;
	gap: var(--spacing-md);

	min-height: 100vh;
	padding: var(--spacing-xxl);

	--background-honeycomb-fill: var(--color-grey-end);
	--background-honeycomb-border: color-mix(
		in srgb,
		var(--color-grey-end) 70%,
		var(--color-grey-900)
	);
	--background-honeycomb-size: var(--spacing-md);

	background-color: var(--background-honeycomb-fill);
	background-image: radial-gradient(
			circle farthest-side at 0% 50%,
			var(--background-honeycomb-fill) 23.5%,
			transparent 0
		),
		radial-gradient(
			circle farthest-side at 0% 50%,
			var(--background-honeycomb-border) 24%,
			transparent 0
		),
		linear-gradient(
			var(--background-honeycomb-fill) 14%,
			transparent 0,
			transparent 85%,
			var(--background-honeycomb-fill) 0
		),
		linear-gradient(
			150deg,
			var(--background-honeycomb-fill) 24%,
			var(--background-honeycomb-border) 0,
			var(--background-honeycomb-border) 26%,
			transparent 0,
			transparent 74%,
			var(--background-honeycomb-border) 0,
			var(--background-honeycomb-border) 76%,
			var(--background-honeycomb-fill) 0
		),
		linear-gradient(
			30deg,
			var(--background-honeycomb-fill) 24%,
			var(--background-honeycomb-border) 0,
			var(--background-honeycomb-border) 26%,
			transparent 0,
			transparent 74%,
			var(--background-honeycomb-border) 0,
			var(--background-honeycomb-border) 76%,
			var(--background-honeycomb-fill) 0
		),
		linear-gradient(
			90deg,
			var(--background-honeycomb-border) 2%,
			var(--background-honeycomb-fill) 0,
			var(--background-honeycomb-fill) 98%,
			var(--background-honeycomb-border) 0%
		);
	background-position:
		calc(var(--background-honeycomb-size) * 0.5 + 1px)
		calc(var(--background-honeycomb-size) * 0.75),
		calc(var(--background-honeycomb-size) * 0.5 - 1px)
		calc(var(--background-honeycomb-size) * 0.75),
		0 0,
		0 0,
		0 0,
		0 0;
	background-size: var(--background-honeycomb-size)
		calc(var(--background-honeycomb-size) * 1.5);
}

.article {
	background-color: var(--color-grey-start);

	max-width: 80ch;
	padding-block: var(--spacing-xl) var(--spacing-xxl);
	padding-inline: var(--spacing-xl);

	clip-path: polygon(
		calc(100% - var(--spacing-xl)) 0,
		100% var(--spacing-xl),
		100% 100%,
		var(--spacing-md) 100%,
		0 calc(100% - var(--spacing-md)),
		0 0
	);

	::selection {
		background-color: var(--color-primary);
		color: var(--color-grey-start);
	}

	h1,
	h2,
	h3 {
		margin-block: var(--spacing-lg);

		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

	h1 {
		color: var(--color-primary);
		text-align: center;

		border-bottom-color: var(--color-primary);
		padding-bottom: var(--spacing-lg);
	}

	h2 {
		color: var(--color-grey-500);
		font-size: var(--font-size-h4);

		border-bottom-color: var(--color-grey-100);
		padding-bottom: var(--spacing-md);
	}

	p {
		margin-block: var(--spacing-md);
		line-height: 1.75;
	}

	a {
		text-decoration: none;
		color: var(--color-primary);
		font-weight: 500;

		--preview-offset: var(--spacing-xs);

		transition:
			background-color var(--timing-medium) ease-in-out,
			color var(--timing-medium) ease-in-out;

		&:hover,
		&:focus,
		&:focus-visible {
			background-color: var(--color-primary);
			color: var(--color-grey-start);
		}
	}
}

.aside {
	position: sticky;
	top: var(--spacing-md);
	right: 0;
	height: fit-content;

	margin-top: calc(var(--spacing-xl) + var(--spacing-md));
}
