.wrapper {
	min-height: 100vh;

	--background-honeycomb-fill: var(--color-grey-end);
	--background-honeycomb-border: color-mix(
		in srgb,
		var(--color-grey-end) 70%,
		var(--color-grey-900)
	);
	--background-honeycomb-size: var(--spacing-md);

	background-color: var(--background-honeycomb-fill);
	background-image: radial-gradient(
			circle farthest-side at 0% 50%,
			var(--background-honeycomb-fill) 23.5%,
			transparent 0
		),
		radial-gradient(
			circle farthest-side at 0% 50%,
			var(--background-honeycomb-border) 24%,
			transparent 0
		),
		linear-gradient(
			var(--background-honeycomb-fill) 14%,
			transparent 0,
			transparent 85%,
			var(--background-honeycomb-fill) 0
		),
		linear-gradient(
			150deg,
			var(--background-honeycomb-fill) 24%,
			var(--background-honeycomb-border) 0,
			var(--background-honeycomb-border) 26%,
			transparent 0,
			transparent 74%,
			var(--background-honeycomb-border) 0,
			var(--background-honeycomb-border) 76%,
			var(--background-honeycomb-fill) 0
		),
		linear-gradient(
			30deg,
			var(--background-honeycomb-fill) 24%,
			var(--background-honeycomb-border) 0,
			var(--background-honeycomb-border) 26%,
			transparent 0,
			transparent 74%,
			var(--background-honeycomb-border) 0,
			var(--background-honeycomb-border) 76%,
			var(--background-honeycomb-fill) 0
		),
		linear-gradient(
			90deg,
			var(--background-honeycomb-border) 2%,
			var(--background-honeycomb-fill) 0,
			var(--background-honeycomb-fill) 98%,
			var(--background-honeycomb-border) 0%
		);
	background-position:
		calc(var(--background-honeycomb-size) * 0.5 + 1px)
		calc(var(--background-honeycomb-size) * 0.75),
		calc(var(--background-honeycomb-size) * 0.5 - 1px)
		calc(var(--background-honeycomb-size) * 0.75),
		0 0,
		0 0,
		0 0,
		0 0;
	background-size: var(--background-honeycomb-size)
		calc(var(--background-honeycomb-size) * 1.5);
}

.banner {
	position: relative;
	height: 50vmin;

	clip-path: polygon(
		0 0,
		100% 0,
		100% calc(100% - var(--sizing-xl)),
		calc(90% + var(--sizing-lg) / 2) calc(100% - var(--sizing-xl)),
		calc(90% - var(--sizing-lg) / 2)
			calc(100% - var(--sizing-xl) + var(--sizing-lg)),
		calc(70% + var(--sizing-lg) / 2)
			calc(100% - var(--sizing-xl) + var(--sizing-lg)),
		calc(70% - var(--sizing-lg) / 2) calc(100% - var(--sizing-xl)),
		calc(40% + var(--sizing-xl) / 2) calc(100% - var(--sizing-xl)),
		calc(40% - var(--sizing-xl) / 2) 100%,
		0 100%,
		0 0
	);
	filter: contrast(0.6) brightness(1.3);

	&::after {
		z-index: 1;
		content: "";
		position: absolute;
		inset: 0;
		background-color: var(--color-primary);
		background-image: radial-gradient(
			circle at top right,
			var(--color-primary-700),
			var(--color-primary)
		);
		opacity: 0.85;
		mix-blend-mode: screen;
		pointer-events: none;
	}

	&::before {
		z-index: 2;
		content: "";
		position: absolute;
		bottom: 0;
		left: 40%;
		width: var(--sizing-lg);
		height: var(--sizing-lg);
		transform: skewX(-45deg)
			translate(calc(-100% - var(--spacing-md)), calc(var(--spacing-xl) * -1));
		background-color: var(--color-primary);
		pointer-events: none;
		box-shadow: calc((var(--spacing-md) + var(--sizing-lg)) * -1) 0 0 0
			var(--color-primary);
	}
}

.content {
	position: relative;
	display: flex;
	justify-content: center;
	gap: var(--spacing-md);

	padding: var(--spacing-xxl);
	padding-inline: var(--spacing-md);
	padding-block-start: 0;
	margin-block-start: calc(var(--spacing-xl) * -1);

	@media (max-width: 740px) {
		flex-direction: column-reverse;
		padding-inline: var(--spacing-sm);
	}
}

.article {
	background-color: var(--color-grey-start);

	max-width: 80ch;
	padding-block: var(--spacing-xl) var(--spacing-xxl);
	padding-inline: var(--spacing-xl);

	@media (max-width: 740px) {
		padding-inline-start: calc(
			var(--spacing-lg) +
			var(--spacing-md) +
			var(--sizing-md)
		);
		padding-inline-end: var(--spacing-lg);
		margin-block-start: calc(var(--spacing-xl) * -1.5);
	}

	clip-path: polygon(
		calc(100% - var(--spacing-xl)) 0,
		100% var(--spacing-xl),
		100% 100%,
		var(--spacing-md) 100%,
		0 calc(100% - var(--spacing-md)),
		0 0
	);

	h1,
	h2,
	h3 {
		margin-block: var(--spacing-lg);

		padding-bottom: var(--spacing-md);

		border-bottom-color: currentColor;
		border-bottom-width: 1px;
		border-bottom-style: solid;
	}

	.title {
		color: var(--color-primary);
		text-align: center;

		border-bottom-color: var(--color-primary);
		padding-bottom: var(--spacing-lg);
		font-size: calc(var(--font-size-h1) * var(--font-multiplier));
	}

	h1 {
		color: var(--color-grey-end);
		font-size: calc(var(--font-size-h4) * var(--font-multiplier));
	}

	h2 {
		color: var(--color-grey-500);
		font-size: calc(var(--font-size-h4) * var(--font-multiplier));
	}

	em {
		font-style: normal;
		font-family: var(--font-mono);
		letter-spacing: -0.01em;
	}

	blockquote {
		position: relative;
		background-color: var(--color-primary-800);
		color: var(--color-primary-200);
		padding: var(--spacing-lg) var(--spacing-xxl);

		/* biome-ignore-start lint/style/noDescendingSpecificity: ??? */
		&::before,
		&::after {
			position: absolute;
			z-index: 0;
			line-height: 1;
			height: var(--sizing-xxl);
			font-size: var(--sizing-xxl);
			font-family: var(--font-sans);
			letter-spacing: -0.05em;
			color: var(--color-primary-900);
		}

		&::before {
			top: 0;
			left: var(--spacing-md);
			content: "\2018\2018";
		}

		&::after {
			bottom: var(--spacing-md);
			right: var(--spacing-lg);
			content: "\201A\201A";
		}
		/* biome-ignore-end lint/style/noDescendingSpecificity: ??? */

		p {
			position: relative;
			z-index: 1;
			margin: 0;
			font-size: calc(var(--font-size-small) * var(--font-multiplier));
		}
	}

	p {
		margin-block: var(--spacing-md);
		line-height: 1.75;
		font-size: calc(var(--font-size-p) * var(--font-multiplier));
	}

	a {
		text-decoration: none;
		color: var(--color-primary);
		font-weight: 500;

		--preview-offset: var(--spacing-xs);

		transition:
			background-color var(--timing-medium) ease-in-out,
			color var(--timing-medium) ease-in-out;

		&::selection {
			color: var(--color-grey-end);
		}

		&:hover,
		&:focus,
		&:focus-visible {
			background-color: var(--color-primary);
			color: var(--color-grey-start);
		}
	}

	::selection {
		background-color: var(--color-primary);
		color: var(--color-grey-start);
	}

	ul {
		margin-block: var(--spacing-md);
		padding-inline-start: var(--spacing-md);
		list-style-type: disc;
		list-style-position: outside;

		::marker {
			color: var(--color-primary);
		}
	}

	li {
		line-height: 1.75;
		margin-block: var(--spacing-md);
	}
}

.aside {
	position: sticky;
	top: var(--spacing-md);
	right: 0;
	height: fit-content;

	margin-top: calc(var(--spacing-xl) + var(--spacing-md));

	--contrast-color: var(--color-grey-start);
	--highlight-color: var(--color-primary-200);

	@media (max-width: 740px) {
		top: calc(var(--spacing-md) + var(--spacing-lg) + var(--sizing-md));
		height: 0;

		--contrast-color: var(--color-grey-end);
		--highlight-color: var(--color-primary-700);
	}
}
